body {
  font-family: "PingFang-SC-Medium", "microsoft yahei";
  max-width: 750px;
  padding-bottom: 10px;
  margin: 0 auto;
  height: 100%;
  background: #f5f5f5 !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
iframe,
section {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
.mart10 {
  margin-top: 10px;
}
.marl10 {
  margin-left: 10px;
}
.pad5{padding: 5px}
.pad10{padding:10px}
.pad5{padding: 5px}
.mar10{margin:10px}
.margr10{margin-right:10px}

::-webkit-input-placeholder {
  color: #999;
}

.seedWcontainr {
  width: 95%;
  margin: 0 auto;
}
.seedbg {
  background: #f5f5f5;
}
.seedlist {
  width: 100%;
  background: #7cba28 url(../assets/seedlistRight.png) no-repeat right 0;
  background-size: 80%;
  text-align: left;
  border-radius: 10px;
  padding: 10px 0 5px;margin-bottom: 10px
}
.seedlist h1 {
  width: 100%;
  color: #fff;
  margin: 5px 0 0 10px;
  display: inline-block;
  font-size: 16px;
  line-height: 40px;
}
.seedlist h2 {
    width: 100%;
    color: #fff;
    margin:0 0 0 10px;
    display: inline-block;
    font-size: 16px;
  }
.userphoto {
  width: 40px;
  display: inline-block;
  margin-right: 10px;
}
.userphoto img {
  width: 100%;border-radius: 50%;
  vertical-align: middle;
}
.userName {
  display: inline-block;
  vertical-align: text-bottom;
}
.seedWbg {
  width: 98%;
  margin: 10px auto 0 !important;
  background: #fff;
  border-radius: 5px;
  padding:0 10px 0 10px;
}
.seedWbg .listcell {
  width: 100%;
  border-bottom: #f3f3f3 solid 1px;
}
.seedWbg .listcell p {
  line-height: 32px;
  font-size: 14px;
}
.nut-tab-item {
  height: auto !important;
}
.cellLR {
  width: 100%;
  display: flex;
  line-height:.8rem;
  font-size: 16px; 
}
.cellLR .left_cell {
  width: 70%;
  text-align: left; color: #333;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.cellLR .right_cell {
  width: 30%;color: #666;
  text-align: left;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.seedcontain {
  width: 100%;
  padding: 10px;
}

.seedbuynum {
  width: 100%;
  background: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}
.seedbuynum h1 {
  width: 100%;
  line-height: 0.8rem;
  font-size: 0.34rem;
  color: #333;
  text-align: left;
}
.buynum {
  position: relative;
}
.seedbg .btn-hollow {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 0;
  background: none;
  color: #fb403f;
}

.btn-hollow:after{border: 0}

.m-confirm {
  border-radius: 10px !important;
}
.confirm-hd {
  text-align: center !important;
  height: 1rem;
}
.confirm-bd {
  height: 0.6rem;
  line-height: 0.6rem;
}
.confirm-hd .confirm-title {
  font-size: 0.34rem;
  font-weight: bold;
}
.confirm-ft {
  line-height: 0.8rem;
  font-size: 0.28rem;
}
.bluetext {
  color: #5856d0 !important;
}
.graytext {
    color: #999; margin-left:5px
  }

  .btn_redgradual{background:linear-gradient(270deg,rgba(255,147,83,.49) 0%,rgba(255,85,83,.49) 100%);
    border-radius:5px; color: #fff; font-size: .34rem; font-weight: bold
}

.roundicon {
  width: 1rem;
  height: 1rem;
  position: fixed;border-radius: 50%;
  right: 20px;
  bottom: 80px;
  text-align: center;box-shadow: 0 0 15px #A3A6FB;
}
.roundicon img{
 width: 100%;
}
.tab-nav-item {
  font-size: 0.3rem !important;
}
.tab-nav-item.tab-active {
  color: #5856d0 !important;
  font-weight: bold;
}
.rechargeaffirmbtn {
  width: 95%;
  background: #a5a4e2;
  color: #fff;
  margin: 10px auto;
}
.guadanrules {
  text-align: left;
  margin-left: 10px;
}
.guadanrules h1 {
  font-size: 0.3rem;
  line-height: 0.6rem;
}
.guadanrules li {
  font-size: 0.26rem;
  color: #999;
  line-height: 0.5rem;
}

.greenText{color: #66A61B; font-size: .3rem}
.smallbuyBtn{background:linear-gradient(90deg,rgba(255,85,83,1) 0%,rgba(255,147,83,1) 100%);border-radius:5px; border: 0; color: #FFF;  padding:8px 15px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.tab-nav-item.tab-active:before{width: 50%; margin-left: -25%;    height: 3px;}
.tab-nav-item:not(:last-child):after, .tab-nav:after{border: 0}
.tab-panel{background: none}

.sellIcon{width: 30px; height: 20px; display: inline-block}
.sellIcon img{width: 100%}
.bottborl{border-bottom:#F3F3F3 solid 1px; padding: 5px 0 }
.blacktext{color: #333333 !important; font-size: .3rem !important; font-weight: bold}

.succeedicon{width: 100%; text-align:center; padding: 20px 0;}
.succeedicon img{width: 50px; margin:10px auto}
.succeedicon p{ font-size: .3rem;color:#333 }

.backout{position: absolute; right:40px; bottom:30px; width: 150px;}
.backout img{ width:100%;}